OPENAI_API_KEY=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
ANTHROPIC_API_KEY=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
